OPENAI_API_KEY=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
ANTHROPIC_API_KEY=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
